colorir==1.1.1
colorthief==0.2.1
disnake==2.7.0
kaomoji==0.1.0
Pillow==9.1.1
pyowo==1.0.1
python-dotenv==0.20.0
qrcode==7.3.1
psutil==5.9.1
rich==12.6.0
qrtools==0.0.2
tempyrature==1.0.2
matplotlib==3.6.2